= link_to 'Edit User', edit_user_path(@user), class: 'btn btn-primary float-right'
%h1= @user

%p= @user.email
%p= "An #{@user.status} user with the #{@user.role} role."
%p= "Signed in #{@user.sign_in_count} times since #{@user.created_at.localtime.to_s(:short)}."
%p= "Last signed in at #{@user.current_sign_in_at.localtime.to_s(:short)} from #{@user.current_sign_in_ip}."
